
<!DOCTYPE html>
<html>
<h1>Ahoy Me Matey!</h1>
<form action="/pirates" method="post">
<label for="name">Name Your Pirate</label>
    <input type="text" id ="name"  name="pirate[name]">
<label for="weight">What Do They Weigh?</label>
    <input type="text" id="weight" name="pirate[weight]">
<label for="height">How Tall Are They?</label>
    <input type="text" id="height" name="pirate[height]">


<h2>We Need Some Ships!</h2>
<h3>Ship 1</h3>
<label for="ship_name_1">Name Your Ship</label>
    <p>Ship 1 Name:<input id="ship_name_1" type="text" name="pirate[ships][][name]"></p> 
<label for="ship_booty_1">What is the Booty?</label>
    <p>Ship 1 Booty:<input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></p> 
<label for="ship_type_1">What Kind of Ship?</label>
    <p>Ship 1 Type:<input id="ship_type_1" type="text" name="pirate[ships][][type]"></p> 
<h3>Ship 2</h3>
<label for="ship_name_2">Name Your Ship</label>
    <p>Ship 2 Name:<input id="ship_name_2" type="text" name="pirate[ships][][name]"></p>
<label for="ship_booty_2">What is the Booty?</label>
    <p>Ship 2 Booty:<input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></p> 
<label for="ship_type_2">What Kind of Ship?</label>
    <p>Ship 2 Type:<input id="ship_type_2" type="text" name="pirate[ships][][type]"></p> 

    <input type="submit" value="Submit">

</form>

</html>